In [0]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error

In [0]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
autoMobileDataset=pd.read_csv(url)

In [0]:
autoMobileDataset.columns=["symboling","normalized_losses","make","fuel_type","aspiration","num_of_doors","body_style","drive_wheels","engine_location","wheel_base","length","width","height","curb_weight","engine_type","num_of_cylinders","engine_size","fuel_system","bore","stroke","compression_ratio","horsepower","peak_rpm","city_mpg","highway_mpg","price"]

In [0]:
autoMobileDataset.replace('?',np.nan, inplace=True)

In [5]:
autoMobileDataset.head()

   symboling normalized_losses         make  ... city_mpg highway_mpg  price
0          3               NaN  alfa-romero  ...       21          27  16500
1          1               NaN  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               NaN         audi  ...       19          25  15250

[5 rows x 26 columns]

In [6]:
autoMobileDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
symboling            204 non-null int64
normalized_losses    164 non-null object
make                 204 non-null object
fuel_type            204 non-null object
aspiration           204 non-null object
num_of_doors         202 non-null object
body_style           204 non-null object
drive_wheels         204 non-null object
engine_location      204 non-null object
wheel_base           204 non-null float64
length               204 non-null float64
width                204 non-null float64
height               204 non-null float64
curb_weight          204 non-null int64
engine_type          204 non-null object
num_of_cylinders     204 non-null object
engine_size          204 non-null int64
fuel_system          204 non-null object
bore                 200 non-null object
stroke               200 non-null object
compression_ratio    204 non-null float64
horsepower           202 non-null object
peak_rpm             202 non-null object
city_mpg             204 non-null int64
highway_mpg          204 non-null int64
price                200 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [0]:
autoMobileDataset["normalized_losses"]=autoMobileDataset["normalized_losses"].astype(float)
autoMobileDataset["normalized_losses"].fillna(autoMobileDataset["normalized_losses"].mean(),inplace=True)

In [0]:
autoMobileDataset["peak_rpm"]=autoMobileDataset["peak_rpm"].astype(float)
autoMobileDataset["peak_rpm"].fillna(int(autoMobileDataset["peak_rpm"].mean()),inplace=True)

In [0]:
autoMobileDataset["horsepower"]=autoMobileDataset["horsepower"].astype(float)
autoMobileDataset["horsepower"].fillna(int(autoMobileDataset["horsepower"].mean()),inplace=True)
autoMobileDataset["stroke"]=autoMobileDataset["stroke"].astype(float)
autoMobileDataset["stroke"].fillna(int(autoMobileDataset["stroke"].mean()),inplace=True)
autoMobileDataset["bore"]=autoMobileDataset["bore"].astype(float)
autoMobileDataset["bore"].fillna(int(autoMobileDataset["bore"].mean()),inplace=True)
autoMobileDataset["price"]=autoMobileDataset["price"].astype(float)
autoMobileDataset["price"].fillna(int(autoMobileDataset["price"].mean()),inplace=True)

In [10]:
autoMobileDataset.head(2)

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3              122.0  alfa-romero  ...       21          27  16500.0
1          1              122.0  alfa-romero  ...       19          26  16500.0

[2 rows x 26 columns]

In [0]:
autoMobileDataset.dropna(subset=["num_of_doors"],inplace=True)

My target variable is city_mpg

In [0]:
X=autoMobileDataset.dropna(subset=["city_mpg"])
y=autoMobileDataset.iloc[:,-3:-2]

In [0]:
X2=pd.get_dummies(X,columns=["make","fuel_type","engine_location","aspiration","num_of_doors","body_style","drive_wheels","engine_type","num_of_cylinders","fuel_system"])

In [14]:
len(X2.columns)

76

In [0]:
pca = PCA(n_components=24)
pcaX2 = pca.fit_transform(X2)

In [16]:
pca.explained_variance_ratio_

array([9.94963261e-01, 3.80915893e-03, 1.19903730e-03, 1.48305423e-05,
       9.64964188e-06, 2.77821275e-06, 6.08971633e-07, 3.62170655e-07,
       1.04015663e-07, 8.48081812e-08, 4.07299537e-08, 1.64281653e-08,
       1.47328096e-08, 1.12369727e-08, 5.67283501e-09, 4.95366562e-09,
       3.79766911e-09, 3.06656244e-09, 2.56861519e-09, 2.21550492e-09,
       1.80699662e-09, 1.63680270e-09, 1.45805295e-09, 1.37628240e-09])

In [0]:
X_trainPCA,X_testPCA,y_trainPCA,y_testPCA=train_test_split(pcaX2,y,random_state=69)
X_train, X_test, y_train, y_test = train_test_split(X2, y,random_state=69)

In [0]:
regPCA = linear_model.LinearRegression() 
regPCA.fit(X_trainPCA,y_trainPCA)
predictPCA=regPCA.predict(X_testPCA)
reg = linear_model.LinearRegression() 
reg.fit(X_train,y_train)
predict=reg.predict(X_test)

In [19]:
print(f'Mean Squared Error with PCA: {mean_squared_error(y_testPCA,predictPCA)}')
print(f'Simple Mean Squared Error: {mean_squared_error(y_test,predict)}')

Mean Squared Error with PCA: 0.0008342788056003624
Simple Mean Squared Error: 1.571956753075225e-24